<nav>
	<div class="center" style="max-width: 1280px; justify-content: space-between; flex-wrap: wrap; padding: 28px 32px 28px 32px;">
		<a href="/" class="link">haemolacriaa</a>
		<button id="link-button" class="rm-l" style="color: white; background: none; border: none; cursor: pointer; outline: none;">
			<svg id="link-button-open" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" role="graphics-symbol"><g><g><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path></g></g></svg>
			<svg id="link-button-close" class="rm" width="24" height="24" viewBox="0 0 16 16" fill="currentColor" role="graphics-symbol"><g><g><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path></g></g></svg>
		</button>
		<div id="link-list" class="nav-list rm">
			<div class="nav-list-inner">
				<a href="/" class="nav-link">home</a>
				<a href="/music" class="nav-link">music</a>
				<a href="/blog" class="nav-link">blog</a>
			</div>
		</div>
	</div>
	<script src="/components/nav_button.js" defer></script>
</nav>
