@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v44-latin-regular.woff2') format('woff2');
}

h1, h2, h3, span, p {
	color: white;
}

a {
	color: lightskyblue;
	text-decoration: none;
}

a:hover {
	color: deepskyblue;
}

body {
	font-family: 'Open Sans';
	background-color: black;
	margin: 0px;
	padding: 0px;
}

pre {
  background-color: white;
  padding: 12px;
  border-radius: 4px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.rm {
	display: none;
}

@media (width >= 768px) {
	.rm-l {
		display: none;
	}
}

.link {
	text-decoration: none;
	color: white;
}

.link:hover {
	text-decoration: none;
	color: lightskyblue;
}

.footer-link {
	text-decoration: none;
	color: dimgray;
}

.nav-link {
	text-decoration: none;
	color: white;
	
	@media (width <= 768px) {
		padding: 20px 0px 0px 10px;
	}
	
	@media (width >= 768px) {
		padding-left: 20px;
	}
}

.nav-link:hover {
	text-decoration: none;
	color: lightskyblue;
}

.nav-list {
	@media (width <= 768px) {
		width: 100%;
	}
	
	@media (width >= 768px) {
		display: block;
		width: auto;
	}
}

.nav-list-inner {
	display: flex;
	
	@media (width <= 768px) {
		flex-direction: column;
	}
	
	@media (width >= 768px) {
		flex-direction: row;
	}
}

.link-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to bottom right, #f9e2af, #b4befe);
	border-radius: .5rem;
	padding: 1px;
	margin-top: 1rem;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: .5rem;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
	background-color: black;
	color: white;
	width: 20rem;
}

.link-text:hover {
	text-decoration: none;
	color: white;
}

.button:hover {
	background-color: rgb(0, 0, 0, 0);
}

.album-image {
	transition: transform 0.1s ease; 
}

.album-image:hover {
	transform: scale(1.025); 
}
